@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto/RobotoCondensed-Bold-webfont.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "VeraBold";
    src: url("../fonts/verabold/Vera-Bold-webfont.woff") format("woff");
    font-display: swap;
}

